<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Kolosso-Eventer</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="stylesheets/sandbox.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Required BEGIN -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Required END-->
		
    <!-- jQuery/Yahoo stuff BEGIN -->
    <!-- jQuery/Yahoo stuff END -->

  </head>
  <body style="color:#1F1E1E;">
    <div class="wrapper">
      <header>
        <h1>Kolosso-Eventer &nbsp;(<code>ke</code>)</h1>
        <p>Feather-light library to manage events for any JS object or function, not only DOM nodes.</p>

        <ul>
          <li><a href="https://github.com/Muzietto/kolosso-eventer/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/Muzietto/kolosso-eventer/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/Muzietto/kolosso-eventer">View On <strong>GitHub</strong></a></li>
        </ul>

        <img src="https://raw.githubusercontent.com/Muzietto/kolosso-eventer/master/img/kolosso.jpg"></img>
      </header>
      <section>
        <h3>
          <a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages">
          <span class="octicon octicon-link"></span></a>Kolosso-Eventer presentation.</h3>

		
        <p>These examples illustrate the basic functionalities of this library. The customisation code for each step is already loaded for you to try, following the instructions on the command line. <br/><br/>
        You may also use each console to build and run any experiment you wish to try.</p>

        <fieldset id="sample_01" class="" style="">
          <legend>1) Working principles</legend>
          <p>Kolosso-eventer decorates a JS Object or Function providing first of all the two basic methods 
          <code>on(event_type, callback)</code> and <code>trigger(event_type)</code>.</p>
            <pre>
var one = ke({});
var two = ke(function(){});
two.on('event_1', function(){ alert('got an event_1'); });</pre>
          <div class="sandbox" id="sandbox1">sandbox loading...</div>
        </fieldset>

        <fieldset id="sample_02" class="" style="">
          <legend>2) Listening to oneself</legend>
          <p>A kolosso-evented object or function can first of all listen to its own events.<br/>
          This is mainly useful when a complex widget must synchronize its own parts.</p>
            <pre>
var one = ke({});
one.on('event_2', function(){ alert('got an event_2'); });</pre>
          <div class="sandbox" id="sandbox2">sandbox loading...</div>
        </fieldset>

        <fieldset id="sample_03" class="" style="">
          <legend>3) Subscribers, publishers and global events</legend>
          <p>Pub/Sub schema's involving two+ objects or functions are commonplace.<br/>
             The <code>ke</code>object itself is a publisher, to which every kolosso-evented 
             instance will listen.</p>
            <pre>
var one = ke({});
var two = ke(function(){});
two.on('event_3', function(){ alert('got an event_3'); });</pre>
          <div class="sandbox" id="sandbox3">sandbox loading...</div>
        </fieldset>

        <fieldset id="sample_04" class="" style="">
          <legend>4) Event payloads and multiple callbacks</legend>
          <p>Each <code>trigger</code> command can add a payload to its event.<br/>
          Listeners can attach many callbacks to the same event type. There is no guarantee on the order callbacks are executed</p>
            <pre>
var one = ke({});
var two = ke(function(){});
two.on('event_4', function(){ alert('got an event_4'); });
two.on('event_4', function(payload){ alert('payload=' + payload); });</pre>
          <div class="sandbox" id="sandbox4">sandbox loading...</div>
        </fieldset>

        <fieldset id="sample_05" class="" style="">
          <legend>5) Exclusive relationships</legend>
          <p>A kolosso-evented object/function may have a private list of publishers 
             to which it listens with callbacks set through the <code>onLocal</code> method</p>
            <pre>
var one = ke({});
var two = ke(function(){});
var three = ke({}, one); // could be [one, two] as well
three.on('event_5', function(){ alert('generic event_5'); });
three.onLocal('event_5', function(){ alert('event_5 from one'); });</pre>
          <div class="sandbox" id="sandbox5">sandbox loading...</div>
        </fieldset>
        
        <!-- The sandbox template -->
        <script type="text/template" id="tplSandbox">
          <pre class="output"></pre>
          <div class="input">
            <textarea rows="1" placeholder="<%= placeholder %>"></textarea>
          </div>
        </script>

        <!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
        <script type="text/template" id="tplCommand"><% if (! _hidden) { %><span class="command"><%= command %></span>
        <span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
        <% } %></script>
        
        <br clear="both"/>

      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/Muzietto">Muzietto</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script src="javascripts/libs/underscore.min.js"></script>
    <script src="javascripts/libs/backbone.min.js"></script>
    <script src="javascripts/libs/backbone-localstorage.min.js"></script><!-- opt -->
    <script src="javascripts/libs/jquery.min.js"></script>

    <script src="javascripts/kolosso-eventer.js"></script>
    <script src="javascripts/samples/sample_01.js"></script>
    <script src="javascripts/samples/sample_02.js"></script>
    <script src="javascripts/samples/sample_03.js"></script>
    <script src="javascripts/samples/sample_04.js"></script>
    <script src="javascripts/samples/sample_05.js"></script>

    <script src="javascripts/sandbox-console.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        [
         { count: 1, selector: '#sandbox1', placeholder: "// type one.trigger('event_1') and hit enter (:help for info)"},
         { count: 2, selector: '#sandbox2', placeholder: "// type one.trigger('event_2') and hit enter (:help for info)"},
         { count: 3, selector: '#sandbox3', placeholder: "// type ke.trigger('event_3') or one.trigger('event_3')"},
         { count: 4, selector: '#sandbox4', placeholder: "// type one.trigger('event_4')"},
         { count: 5, selector: '#sandbox5', placeholder: "// type one.trigger('event_5') or two.trigger('event_5')"}
        ].forEach(function(item) {
          window['sandbox' + item.count] = new Sandbox.View({
            el : $(item.selector),
            model : new Sandbox.Model(),
            resultPrefix : ' => ',
            helpText : "type javascript commands into the console, hit enter to evaluate. \n[up/down] to scroll through history, ':clear' to reset it. \n[alt + return/up/down] for returns and multi-line editing.",
            tabCharacter : '\t',
            placeholder : item.placeholder
          });
        });
      });
    </script>    
  </body>
</html>
