<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Kolosso-eventer</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="stylesheets/sandbox.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Required BEGIN -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Required END-->
		
    <!-- jQuery/Yahoo stuff BEGIN -->
    <!-- jQuery/Yahoo stuff END -->

  </head>
  <body style="color:#1F1E1E;">
    <div class="wrapper">
      <header>
        <h1>Kolosso-Eventer</h1>
        <p>Feather-light library to manage events on all JS objects</p>

        <ul>
          <li><a href="https://github.com/Muzietto/kolosso-eventer/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/Muzietto/kolosso-eventer/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/Muzietto/kolosso-eventer">View On <strong>GitHub</strong></a></li>
        </ul>

        <img src="https://raw.githubusercontent.com/Muzietto/kolosso-eventer/master/img/kolosso.jpg"></img>
      </header>
      <section>
        <h3>
          <a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages">
          <span class="octicon octicon-link"></span></a>Kolosso-eventer presentation.</h3>

		
        <p>The following examples illustrate the basic functionalities of this library.<br/>
        All the needed customisation code is put inside this HTML page. <br/></p>

        <fieldset id="sample_01" class="" style="">
          <legend>1) Working principles</legend>
          <p>Kolosso-eventer decorates a JS Object or Function providing first of all the two basic methods 
          <code>on(event_type, callback)</code> and <code>trigger(event_type)</code>.</p>
            <pre>
var one = ke({});
var two = ke(function(){});
two.on('event_type_1', function(){ alert('got an event_type_1'); });</pre>
          <div class="sandbox" id="sandbox1">sandbox loading...</div>
        </fieldset>

        <fieldset id="sample_02" class="" style="">
          <legend>2) Listening to oneself</legend>
          <p>A kolosso-evented object or function can first of all listen to its own events.<br/>
          This is mainly useful when a complex widget must synchronize its own parts.</p>
            <pre>
var one = ke({});
one.on('event_type_2', function(){ alert('got an event_type_2'); });</pre>
          <div class="sandbox" id="sandbox2">sandbox loading...</div>
        </fieldset>

        <fieldset id="sample_03" class="" style="">
          <legend>3) Event payloads and multiple callbacks</legend>
          <p>Each trigger command can add a payload to its event.<br/>
          Listeners can attach many callbacks to the same event type. There is no guarantee on
          the order callbacks are executed</p>
            <pre>
var one = ke({});
var two = ke(function(){});
two.on('event_type_3', function(payload){ alert('got an event_type_3'); });
two.on('event_type_3', function(payload){ alert('payload=' + payload); });</pre>
          <div class="sandbox" id="sandbox3">sandbox loading...</div>
        </fieldset>

        <fieldset id="sample_04" class="" style="">
          <legend>4) Subscribers, publishers and global events</legend>
          <p>Pub-Sub schema's involving two or more objects/functions are commonplace.<br/>
             The <pre>ke</pre>object itself is a publisher, to whom any kolosso-evented 
             instance may listen.</p>
            <pre>
var one = ke({});
var two = ke(function(){});
two.on('event_type_4', function(payload){ alert('payload=' + payload); });</pre>
          <div class="sandbox" id="sandbox4">sandbox loading...</div>
        </fieldset>

        <fieldset id="sample_05" class="" style="">
          <legend>5) Listening to oneself</legend>
          <p>A kolosso-evented object or function can first of all listen to its own events.<br/>
          This is mainly useful when a complex widget must synchronize its own parts.</p>
            <pre>
var one = ke({});
one.on('event_type_5', function(){ alert('got an event_type_5'); });</pre>
          <div class="sandbox" id="sandbox5">sandbox loading...</div>
        </fieldset>
        
        <!-- The sandbox template -->
        <script type="text/template" id="tplSandbox">
          <pre class="output"></pre>
          <div class="input">
            <textarea rows="1" placeholder="<%= placeholder %>"></textarea>
          </div>
        </script>

        <!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
        <script type="text/template" id="tplCommand"><% if (! _hidden) { %><span class="command"><%= command %></span>
        <span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
        <% } %></script>
        
        <p>Other features, not illustrated in this page:<br/>
        - Serialisation of the plugin status with ordered recording of the chosen items<br/>
        - Restore of the plugin after serialisation.</p>
        
        <br clear="both"/>

      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/Muzietto">Muzietto</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script src="javascripts/libs/underscore.min.js"></script>
    <script src="javascripts/libs/backbone.min.js"></script>
    <script src="javascripts/libs/backbone-localstorage.min.js"></script><!-- opt -->
    <script src="javascripts/libs/jquery.min.js"></script>

    <script src="javascripts/kolosso-eventer.js"></script>
    <script src="javascripts/samples/sample_01.js"></script>
    <script src="javascripts/samples/sample_02.js"></script>
    <script src="javascripts/samples/sample_03.js"></script>
    <script src="javascripts/samples/sample_04.js"></script>
    <script src="javascripts/samples/sample_05.js"></script>

    <script src="javascripts/sandbox-console.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        // Create the sandbox:
        window.sandbox1 = new Sandbox.View({
          el : $('#sandbox1'),
          model : new Sandbox.Model(), // or etc.          
          // these are optional (defaults are given here):
          resultPrefix : " => ",
          helpText : "type javascript commands into the console, hit enter to evaluate. \n[up/down] to scroll through history, ':clear' to reset it. \n[alt + return/up/down] for returns and multi-line editing.",
          tabCharacter : "\t",
          placeholder : "// type one.trigger('event_type_1') and hit enter (:help for info)"
        });
        window.sandbox2 = new Sandbox.View({
          el : $('#sandbox2'),
          model : new Sandbox.Model(), // or etc.          
          // these are optional (defaults are given here):
          resultPrefix : " => ",
          helpText : "type javascript commands into the console, hit enter to evaluate. \n[up/down] to scroll through history, ':clear' to reset it. \n[alt + return/up/down] for returns and multi-line editing.",
          tabCharacter : "\t",
          placeholder : "// type one.trigger('event_type_2') and hit enter (:help for info)"
        });
        window.sandbox3 = new Sandbox.View({
          el : $('#sandbox3'),
          model : new Sandbox.Model(), // or etc.          
          // these are optional (defaults are given here):
          resultPrefix : " => ",
          helpText : "type javascript commands into the console, hit enter to evaluate. \n[up/down] to scroll through history, ':clear' to reset it. \n[alt + return/up/down] for returns and multi-line editing.",
          tabCharacter : "\t",
          placeholder : "// type one.trigger('event_type_3','whatever') and hit enter (:help for info)"
        });
        window.sandbox4 = new Sandbox.View({
          el : $('#sandbox4'),
          model : new Sandbox.Model(), // or etc.          
          // these are optional (defaults are given here):
          resultPrefix : " => ",
          helpText : "type javascript commands into the console, hit enter to evaluate. \n[up/down] to scroll through history, ':clear' to reset it. \n[alt + return/up/down] for returns and multi-line editing.",
          tabCharacter : "\t",
          placeholder : "// type one.trigger('event_type_4') and hit enter (:help for info)"
        });
        window.sandbox5 = new Sandbox.View({
          el : $('#sandbox5'),
          model : new Sandbox.Model(), // or etc.          
          // these are optional (defaults are given here):
          resultPrefix : " => ",
          helpText : "type javascript commands into the console, hit enter to evaluate. \n[up/down] to scroll through history, ':clear' to reset it. \n[alt + return/up/down] for returns and multi-line editing.",
          tabCharacter : "\t",
          placeholder : "// type one.trigger('event_type_5') and hit enter (:help for info)"
        });
      });
    </script>    
  </body>
</html>
