<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Kolosso-eventer</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <link rel="stylesheet" href="stylesheets/sandbox.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Required BEGIN -->
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Required END-->
		
    <!-- jQuery/Yahoo stuff BEGIN -->
    <!-- jQuery/Yahoo stuff END -->

  </head>
  <body style="color:#1F1E1E;">
    <div class="wrapper">
      <header>
        <h1>Kolosso-Eventer</h1>
        <p>Feather-light library to manage events on all JS objects</p>

        <ul>
          <li><a href="https://github.com/Muzietto/kolosso-eventer/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/Muzietto/kolosso-eventer/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/Muzietto/kolosso-eventer">View On <strong>GitHub</strong></a></li>
        </ul>
      </header>
      <section>
        <h3>
<a name="welcome-to-github-pages" class="anchor" href="#welcome-to-github-pages">
<span class="octicon octicon-link"></span></a>Kolosso-eventer presentation.</h3>

		
		<p>The following examples illustrate the basic functionalities of this library.<br/>
		All the needed customisation code is put inside this HTML page. <br/></p>
			<fieldset id="allDefaultsDiv" class="" style="">
				<legend>1) All defaults</legend>
				<p>The purpose of kolosso.eventer is to yyyyy</p>
        <div id="sandbox">sandbox loading...</div>
			</fieldset>
			
			<!-- The sandbox template -->
      <script type="text/template" id="tplSandbox">
        <pre class="output"></pre>
        <div class="input">
          <textarea rows="1" placeholder="<%= placeholder %>"></textarea>
        </div>
      </script>

      <!-- The command/result template (NB whitespace/line breaks matter inside <pre> tag): -->
      <script type="text/template" id="tplCommand"><% if (! _hidden) { %><span class="command"><%= command %></span>
      <span class="prefix"><%= this.resultPrefix %></span><span class="<%= _class %>"><%= result %></span>
      <% } %></script>
      
			<p>Other features, not illustrated in this page:<br/>
			- Serialisation of the plugin status with ordered recording of the chosen items<br/>
			- Restore of the plugin after serialisation.</p>
			
			<br clear="both"/>

      </section>
      <footer>
        <p>This project is maintained by <a href="https://github.com/Muzietto">Muzietto</a></p>
        <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
      </footer>
    </div>
    <script src="javascripts/scale.fix.js"></script>
    <script src="javascripts/kolosso-eventer.js"></script>
    <script src="javascripts/libs/underscore.min.js"></script>
    <script src="javascripts/libs/backbone.min.js"></script>
    <script src="javascripts/libs/backbone-localstorage.min.js"></script><!-- opt -->
    <script src="javascripts/libs/jquery.min.js"></script>

    <script src="javascripts/sandbox-console.js"></script>
    <script type="text/javascript">
      jQuery(document).ready(function($) {
        // Create the sandbox:
        window.sandbox = new Sandbox.View({
          el : $('#sandbox'),
          model : new Sandbox.Model(), // or etc.          
          // these are optional (defaults are given here):
          resultPrefix : "  => ",
          helpText : "type javascript commands into the console, hit enter to evaluate. \n[up/down] to scroll through history, ':clear' to reset it. \n[alt + return/up/down] for returns and multi-line editing.",
          tabCharacter : "\t",
          placeholder : "// type some javascript and hit enter (:help for info)"
        });
      });
    </script>    
  </body>
</html>
